.text-center {
  text-align: center; }

#latest-books {
  overflow: auto; }
  #latest-books .latest-book-content {
    height: 50%;
    overflow: auto; }

.article-content {
  height: 44%;
  overflow: auto; }

.thumbnail {
  max-height: 400px;
  height: 350px;
  overflow: auto; }

.open_info {
  text-align: center; }
  .open_info ul {
    list-style-type: none;
    padding: 0;
    display: inline-table; }
    .open_info ul li {
      margin-bottom: 20px; }
  .open_info .day {
    text-align: left;
    width: 160px;
    display: inline-block;
    float: left;
    font-weight: bold; }

.banner {
  background: url("/images/banner.gif");
  background-size: 100% 100%;
  height: 15%; }

.prev, .next {
  width: 50px;
  cursor: pointer; }

.latest-book-navigation, .articles-navigation {
  text-align: center; }
  .latest-book-navigation a:hover, .articles-navigation a:hover {
    text-decoration: none; }
  .latest-book-navigation a img:active, .articles-navigation a img:active {
    opacity: 0.5; }

.article:hover {
  cursor: pointer;
  opacity: 0.4; }

.active_tab a {
  color: white !important; }

.book-description-content {
  height: 315px;
  overflow: auto; }

.search-content {
  width: 80%; }

.book-list-item {
  color: black;
  cursor: pointer; }
