<div class="container-fluid search-content">
    <div class="row">
        <div class="col-md-6">
            <div class="searchSelect">
                <ng-select 
                    [items]="options()"
                    (selected) = "setType($event)"
                    placeholder="Wybierz...">
                </ng-select>
            </div>
                <div class="searchSelect" *ngIf="type == 'category'">
                <ng-select 
                    [items]="getCategories()"
                    (selected) = "setCategory($event)"
                    placeholder="Wybierz...">
                </ng-select>
            </div>
            <div class="search-input">
                <input *ngIf="type != 'category'" type="text" id="search" class="form-control" [(ngModel)] = "text"/>
            </div>
            <div class="search-button">
                <a class="btn btn-info" (click)="search()">Szukaj</a>
            </div>
            <ul *ngIf="books">
                <li class="table-inverse search-li-item" *ngFor="let book of books"> <a class="book-list-item" (click)="onSelect(book)"><strong>{{book.title}}</strong>, {{book.name}} {{book.surname}}</a></li>
            </ul>
            <div *ngIf="books.length > 0" class="col-md-12">
                <ul #paginate class="pagination">
                    <li>
                        <a (click)="minusPage()">Prev</a>
                    </li>
                    <li *ngFor="let page of allPages">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li>
                        <a (click)="plusPage()">Next</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
